<div class="card">
  <div>
    <h3>
      {{ team.full_name }} [{{ team.abbreviation }}]
      <button
        type="button"
        class="close"
        (appConfirm)="remove()"
        confirmMessage="Are you sure you want to remove this item?"
      >
        &times;
      </button>
    </h3>
    <h6>{{ team.conference }}ern conference</h6>
  </div>
  <hr />
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <p>Results of past {{ nbDays$ | async }} days:</p>

        <ng-container *ngIf="stats$ | async as stats; else loader">
          <ng-container *ngIf="statsLoaded; else loader">
            <p>
              <mark
                class="tag"
                *ngFor="let result of stats.lastGames"
                [class]="result"
              >
                {{ result }}
              </mark>
            </p>
            <p>
              Avg pts scored: <strong>{{ stats.averagePointsScored }}</strong>
            </p>
            <p>
              Avg pts conceded:
              <strong>{{ stats.averagePointsConceded }}</strong>
            </p>
          </ng-container>
        </ng-container>
      </div>
      <div class="col-sm-6">
        <img
          src="https://interstate21.com/nba-logos/{{ team.abbreviation }}.png"
        />
      </div>
    </div>
  </div>
  <div>
    <button class="tertiary" [routerLink]="'results/' + team.abbreviation">
      See game results >>
    </button>
  </div>
</div>

<ng-template #loader>
  <app-loader></app-loader>
</ng-template>
