.row {
  margin: 2rem 0;

  display: grid;
  grid-template-columns: 2fr 2fr 2fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 1rem;
  align-items: center;
  justify-content: stretch;
}

select {
  height: 3rem;
  text-align: center;
  cursor: pointer;
}

button.track {
  height: 100%;
}
